@import './reset.scss'; //imports screen reset and variables
@import './css/hamburger.scss';

//begin Navigation section
#mobile-nav {
    width: 100%;
    display: flex;
    h1 {
        width: 75%;
        font-size: 18px;
        font-family: $title;
    }
}